---
import '../sass/cms.scss';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Load Config File from public/admin/config.yml -->
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
    <script>
      import { init } from '@sveltia/cms';

      init();
    </script>
    <title>Content Manager</title>
  </head>
  <body></body>
</html>
