---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const catering = (await getCollection('catering'))
  .sort((a, b) => a.data.title.localeCompare(b.data.title))
  .sort((a, b) => {
    if (a.data.weight < b.data.weight) return -1;
    if (a.data.weight > b.data.weight) return 1;
    return 0;
  });
// console.log(catering[0]);
---

<Layout>
  {
    catering.map((c) => {
      return (
        <section>
          <h2>{c.data.title}</h2>
          <p>Options: {c.data.options.length}</p>
        </section>
      );
    })
  }
</Layout>
