---
import Layout from '../layouts/Layout.astro';
import { getEntry } from 'astro:content';

const config = await getEntry('config', 'config');
---

<Layout>
  <div class="wrapper">
    <div class="type" set:html={config?.rendered?.html} />

    <nav>
      <ul>
        <li><a href="/menu">{config.data.home.menu}</a></li>
        <li>
          <a href="/catering">{config.data.home.catering}</a>
        </li>
      </ul>
    </nav>
  </div>
</Layout>

<style lang="scss">
  .wrapper {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
  }

  .type {
    :global(> :first-child) {
      margin-block-start: 0;
    }
    :global(> :last-child) {
      margin-block-end: 0;
    }
  }

  nav {
    margin: 0;
    width: 100%;
    // background-color: blue;

    ul {
      margin: 0;
      padding: 0;
      display: grid;
      gap: 2rem;
      width: 100%;
    }

    li {
      width: 50%;
      list-style: none;
      text-align: center;
      color: white;
      display: grid;
      width: 100%;
    }

    a {
      --base: #0c7f00;
      padding: 1rem;
      text-decoration: none;
      color: white;
      background-color: color-mix(in srgb, var(--base), black 25%);
      border: 1px solid rgb(black, 0.5);
      font-size: 1.15rem;
      height: 100%;
      display: grid;
      align-items: center;

      &:hover {
        background-color: color-mix(in srgb, var(--base), black 50%);
      }
      &:active {
        background-color: color-mix(in srgb, var(--base), black 15%);
      }
    }
  }

  // strong {
  //   weight: 500;
  // }
</style>
